EXPO_PUBLIC_USE_MOCK=0
EXPO_PUBLIC_API_BASE_URL=https://us-central1-bird-af69c.cloudfunctions.net
EXPO_PUBLIC_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=bird-af69c.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=bird-af69c
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=bird-af69c.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=YOUR_FIREBASE_MESSAGING_SENDER_ID
EXPO_PUBLIC_FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
EXPO_NO_CACHE=1
